<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Library</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    <li>
                        <a href="/catalog">Home</a>
                    </li>
                    <li>
                        <a href="/catalog/books">All Books</a>
                    </li>
                    <li>
                        <a href="/catalog/authors">All Authors</a>
                    </li>
                    <li>
                        <a href="/catalog/genres">All Genres</a>
                    </li>
                    <li>
                        <a href="/catalog/bookInstances">All Book Instances</a>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li>
                        <a href="catalog/book/create">Create new book</a>
                    </li>
                    <li>
                        <a href="catalog/author/create">Create new author</a>
                    </li>
                    <li>
                        <a href="catalog/author/create">Create new genre</a>
                    </li>
                    <li>
                        <a href="catalog/bookInstance/create">Create new book instance (copy) </a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</body>
</html>